flask
flask_cors
onnxruntime
opencv-contrib-python-headless
numpy
Pillow
PyPDF2
mediapipe
gunicorn
pyembroidery
python-dotenv
Flask-SQLAlchemy
qrcode[pil]
reportlab
python-docx
psycopg2-binary








