Flask
Flask-Cors
Flask-SQLAlchemy
python-dotenv
gunicorn
psycopg2-binary
numpy
Pillow
opencv-contrib-python-headless
onnxruntime
PyPDF2
qrcode[pil]
reportlab
python-docx
mediapipe
pyembroidery

